[Unit]
Description=Garden
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u garden.py
WorkingDirectory=/home/pi/Garden/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target